@import 'compass'
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap'
@import "../bower_components/colors/sass/colors"
// @import "../bower_components/animate-sass/animate"
@import ../bower_components/sass-mediaqueries/media-queries

=fillContainer
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0

=useGPU
	-webkit-transform: translateZ(0)
	-moz-transform: translateZ(0)
	-ms-transform: translateZ(0)
	-o-transform: translateZ(0)
	transform: translateZ(0)



.feed
	
	background-color: $white
	// Desktops should get some padding on top
	@include min-screen($screen-xs)
		margin-top: 50px
		margin-bottom: 50px

	.topHalf
		height: 500px
		background-size: cover
		background-position: center center
		position: relative
		color: white

		.tint, .content
			+fillContainer

		.tint
			background-color: black
			opacity: 0.5

		.content
			text-align: center
			overflow: hidden

			.text
				+fillContainer
				top: 40%

				.name
					font-size: 40pt
					font-weight: 100

		.subscribeWrapper
			text-align: center
			position: absolute
			width: 100%
			bottom: -20px
			left: 0

			.subscribeButton
				@extend .btn 
				@extend .btn-lg
				@extend .btn-primary


	.bottomHalf
		padding-top: 50px
		padding-bottom: 50px
		padding-left: 13%
		padding-right: 13%


		levels
			display: block
			width: 100%
			height: 70px
			position: relative
			// background-color: $red
			overflow: hidden
			border-bottom: 1px solid $gray
			margin-bottom: 50px



			// Das masken
			// border-width: 20px
			// border-image: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0)) 40% repeat


			.shifter
				position: absolute
				height: 100%
				top: 0
				transition: 0.3s ease-in-out all
				.level
					position: absolute
					top: 0
					height: 100%
					text-align: center
					opacity: 0.3
					transition: 0.3s linear opacity

					&:hover
						cursor: pointer

					.icon
						height: 20px

					.name
						margin-top: 10px

					&.active
						opacity: 1

			.mask
				width: 20px
				height: 100%
				position: absolute
				z-index: 200
				top: 0

				&:hover
					cursor: pointer

				&.left
					left: 0
					background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%) /* FF3.6+ */
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))) /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* Opera 11.10+ */
					background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* IE10+ */
					background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%) /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ) /* IE6-9 */

				&.right
					right: 0
					background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%) /* FF3.6+ */
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))) /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* Opera 11.10+ */
					background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* IE10+ */
					background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ) /* IE6-9 */

		.message
			text-align: justify
			text-justify: inter-word
			// width: 60%
			// display: block
			// margin-left: auto
			// margin-right: auto

		// .level

		// 	&.ng-enter
		// 		animation: fadeInUp 1s


		.leftCol
			text-align: center

			.odometerWrapper
				text-align: center
				display: inline-block
				$brdr: 1px solid black
				border-top: $brdr
				border-bottom: $brdr
				.odometer
					font-size: 50pt
					font-weight: 100
					// Want to fade out the numbers faster, but can't interfere with the dial transitions
					// transition: 0.3s linear opacity
					&.faded
						opacity: 0.1

				.cashMoney
					vertical-align: top
					font-weight: 200
					font-size: 20pt

			.month
				text-align: center
				padding-top: 10px



		.rightCol

			.level

				+useGPU
				// ng-if animation for level
				&.ng-enter, &.ng-leave
					-webkit-transform: translate3d(0,0,0)
					-webkit-transition: 0.3s linear all
					transition: 0.3s linear all
					overflow: hidden

				&.ng-enter
					opacity: 0
					max-height: 0px

				&.ng-enter-active
					opacity: 1
					max-height: 999px

				&.ng-leave
					opacity: 1
					max-height: 999px
					// height: auto

				&.ng-leave-active
					opacity: 0
					max-height: 0px

				.perk

					// background-color: $red
					overflow: auto
					padding-bottom: 20px

					.meta, .content
						float: left
						height: 100%

					.meta
						width: 10%

					.content
						width: 90%
						padding-left: 20px

						.imageWrapper
							text-align: center
							img
								max-width: 100%

					.plus, .icon
						width: 50%
						float: left
						text-align: center
						img 
							height: 12px

					.plus
						opacity: 0
						&.visible
							opacity: 1






				


	
	.vimeo
		width: 100%

	.info
		.title
			font-size: 20pt
		.content
			font-size: 12pt

	.subscribe
		.price
			font-size: 16pt
			color: $blue
		.deets
			color: $gray
			float: right
			margin-right: 10px
			padding-top: 5px
		button
			float: right