<div class="feed" ng-keydown="keyPressed($event)">

	<!-- Top half, very visual -->
	<!-- <div class="topHalf" ng-style="{'background-image':'url({{feed.coverImage}})'}"> -->
	<div class="topHalf" ng-style="{'background-image':getCoverImage(feed)}">
		<div class="tint"></div>

		<!-- Deets about the cast -->
		<div class="content">
			<div class="text">
				<p class="name">{{feed.name}}</p>
				<p class="perkSummary">{{feed.perkSummary}}</p>
			</div>

		</div>

		<!-- Subscribe button -->
			<div class="subscribeWrapper">
				<button ng-if="!subscribed" type="button" class="subscribeButton" ng-click="subscribe()">Back This</button>
				<button ng-if="subscribed" type="button" class="subscribeButton btn btn-success">{{subscribeText}}</button>
			</div>

	</div>

	<div class="bottomHalf">

		<!-- The level slider -->
		<levels current="currentLevel" all="feed.levels" up="levelUp()" down="levelDown()"></levels>

		<!-- The odometer -->
		<odometer cost="feed.levels[currentLevel].cost"></odometer>

		<br>
		<button ng-click="levelUp()" ng-show="currentLevel < feed.levels.length - 1">Next level!</button>
		<button ng-click="levelDown()" ng-show="currentLevel > 0">Previous level!</button>
		<hr>
		<div class="level" ng-repeat="level in feed.levels | reverse" ng-show="currentLevel >= (feed.levels.length - 1 - $index)">
			<!-- {{currentLevel}} >= {{feed.levels.length - 1 - $index}} -->
			<p ng-repeat="perk in level.perks">{{perk}}</p>
		</div>
</div>