<div class="feed">

	<!-- Top half, very visual -->
	<div class="topHalf" ng-style="{'background-image':'url(http://lorempixel.com/400/200/abstract)'}">
		<div class="tint"></div>

		<!-- Deets about the cast -->
		<div class="content">
			<div class="text">
				<p class="name">{{feed.name}}</p>
			</div>

		</div>

		<!-- Subscribe button -->
			<div class="subscribeWrapper">
				<button ng-if="!subscribed" type="button" class="subscribeButton btn btn-primary" ng-click="subscribe()">Subscribe</button>
				<button ng-if="subscribed" type="button" class="subscribeButton btn btn-success">{{subscribeText}}</button>
			</div>

	</div>

	<div class="bottomHalf">
		<p class="message">Portland Pitchfork kogi, master cleanse High Life Vice cray readymade mixtape mumblecore banh mi. Four loko 8-bit post-ironic fap, mustache sriracha Vice next level skateboard fixie bicycle rights Tumblr tousled keffiyeh. Schlitz chambray fixie, tote bag fingerstache +1 plaid Brooklyn Wes Anderson selfies. Butcher Neutra small batch, Vice bespoke wolf shabby chic Williamsburg bitters chillwave before they sold out Austin 8-bit fap. Pour-over Cosby sweater farm-to-table, mlkshk seitan cred readymade jean shorts pickled Etsy ennui beard. Yr art party chia sustainable, mixtape pop-up disrupt church-key authentic McSweeney's vegan paleo kale chips Wes Anderson farm-to-table. Mixtape pop-up plaid, Pitchfork fap Austin gentrify artisan distillery ethical.
</br></br>
Mustache Shoreditch single-origin coffee irony. Meggings beard squid Odd Future flexitarian sriracha. Hella lo-fi dreamcatcher quinoa Portland. Meh VHS roof party mlkshk Intelligentsia church-key. Neutra artisan normcore Truffaut irony. Fingerstache Pinterest Godard, disrupt brunch quinoa next level Tonx cray meggings. Etsy slow-carb ethical freegan Wes Anderson deep v beard, synth leggings blog semiotics Williamsburg art party vinyl.
</br></br>
Pitchfork stumptown jean shorts, brunch Neutra meh irony Wes Anderson ennui selfies pug whatever. Street art actually vegan seitan Wes Anderson, letterpress keffiyeh photo booth cardigan forage food truck retro vinyl. Seitan Marfa trust fund Banksy, flexitarian mumblecore Williamsburg Blue Bottle jean shorts skateboard authentic pug. Quinoa scenester tofu XOXO pork belly flannel. Freegan bitters plaid retro. Keffiyeh pickled narwhal XOXO trust fund slow-carb, blog four loko semiotics ethnic YOLO Pinterest roof party mumblecore. Tote bag Neutra literally jean shorts Brooklyn, hella asymmetrical Banksy VHS Echo Park kale chips twee craft beer drinking vinegar retro.</p>
	</div>

	<!-- Vimeo embed, for now -->
<!-- 	<img src="http://lorempixel.com/400/200/abstract"></img>
	<iframe class="vimeo" src="//player.vimeo.com/video/44598039" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->

	<!-- Podcast info -->
<!-- 	<div class="info">
		<p class="title">{{feed.name}}</p>
		<p class="what">Extra episodes, uncut interviews, outtakes, and personal messages.</p>
	</div>

	<div class="subscribe">
		<span class="price">${{feed.cost}} / mo</span>
		
		<span class="deets" ng-if="!subscribed">Your subscription will be added to iTunes</span>
	</div> -->

</div>