<div class="feed" ng-keydown="keyPressed($event)">

	<!-- Top half, very visual -->
	<!-- <div class="topHalf" ng-style="{'background-image':'url({{feed.coverImage}})'}"> -->
	<div class="topHalf" ng-style="{'background-image':getCoverImage(feed)}">
		<div class="tint"></div>

		<!-- Deets about the cast -->
		<div class="content">
			<div class="text">
				<p class="name">{{feed.name}}</p>
				<p class="perkSummary">{{feed.perkSummary}}</p>
			</div>

		</div>

		<!-- Subscribe button -->
		<div class="subscribeWrapper">
			<button ng-if="!subscribed" type="button" class="subscribeButton" ng-click="subscribe()">Back This</button>
			<button ng-if="subscribed" type="button" class="subscribeButton btn btn-success">{{subscribeText}}</button>
		</div>

	</div>

	<div class="bottomHalf">

		<!-- The level slider -->
		<levels current="currentLevel" all="feed.levels" up="levelUp()" down="levelDown()"></levels>

		<div class="row">

			<!-- Left side -->
			<div class="col-sm-4 leftCol">
				<!-- The odometer -->
				<div class="odometerRow">
					<odometer cost="feed.levels[currentLevel].cost"></odometer>
					<div class="levelUp visible-xs" ng-if="currentLevel < feed.levels.length - 1 && currentLevel >= 0" ng-click="levelUp()">
						<img src="images/arrow-right.svg">
					</div>
					<div class="levelDown visible-xs" ng-if="currentLevel > 0" ng-click="levelDown()">
						<img src="images/arrow-left.svg">
					</div>
				</div>
				<p class="month">month</p>
			</div>

			<!-- Right side -->
			<div class="col-sm-8 rightCol">
				<div class="level" ng-repeat="level in feed.levels | reverse" ng-if="currentLevel >= (feed.levels.length - 1 - $index)">
					<div class="perk" ng-repeat="perk in level.perks">
						<div class="meta">
							<div class="plus" ng-class="{visible: currentLevel >= (feed.levels.length - $parent.$index)}">+</div>
							<div class="icon">
								<img ng-src="images/{{level.icon}}.svg">
							</div>
						</div>
						<div class="content">
							<p class="text">{{perk.text}}</p>
							<div class="imageWrapper" ng-if="perk.image">
								<img ng-src="{{perk.image}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
</div>