
<div class="podcast">
	<!-- Vimeo embed, for now -->
	<iframe class="vimeo" src="//player.vimeo.com/video/44598039" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	<!-- Podcast info -->
	<div class="info">
		<p class="title">This Week in Startups</p>
		<p class="what">Extra episodes, uncut interviews, and personal messages.</p>
	</div>

	<div class="subscribe">
		<span class="price">$5 / mo</span>
		<button ng-if="!subscribed" type="button" class="subscribeButton btn btn-primary" ng-click="subscribe()">Subscribe</a>
		<button ng-if="subscribed" type="button" class="subscribeButton btn btn-success">{{subscribeText}}</a>
	</div>

</div>